<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>post</title>
</head>
<body>
    <%- include('components/header') %>

    <div class="container">
        <div class="row w-75">
            <div class="col">
                <!-- top profile info -->
                <div class="mb-2">
                    <img src="<%=profileImage%>" class="rounded-circle" style="width: 1.5rem;" alt="profile image">
                    <span style="font-size: 1rem;"><%=name%></span>
                </div>

                <img src="<%=post.image%>" class="w-100 " alt="">
                <!-- likes and comment  -->
                <div class="container">
                    <div class="row">
                        <div class="col-2 fs-3" data-id="<%=post._id%>" >
                            <i class="<%=post.likedBy.some(e=>e.toString()===currUser)?'fa-solid' : 'fa-regular text-dark' %> fa-heart" style="cursor: pointer; color:#ff0000;" onclick="increaseLike(this)"></i> <span><%= post.likes %></span>
                        </div>
                        <div class="col-8">
                            <div> <%=post.caption%> </div>
                        </div>
                        <%if(post.user.toString()===currUser){%>
                            <div class="col-2" data-id="<%=post._id%>" style="cursor: pointer;" >
                                <i class="fa-solid fa-trash text-primary fs-3 mt-2" onclick="deletePost(this)"></i>
                            </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('components/footer') %>